<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="../assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../assets/plugins/datatables/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="../scss/icons/font-awesome/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <button
        class="btn-primary mb-2 mt-2"
        data-toggle="modal"
        data-target="#responsive-modal"
        onclick="modalCreate()"
      >
        Create new
      </button>
      <table class="table table-bordered" id="myTable">
        <thead>
          <tr>
            <td>Department ID</td>
            <td>Department Name</td>
            <td>Region</td>
            <td>Action</td>
          </tr>
        </thead>
      </table>
    </div>
    <!-- <div class="card">
            <div class="card-body">
                <h4 class="card-title">Responsive model</h4> -->
    <!-- sample modal content -->
    <div
      id="responsive-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
      style="display: none"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
            <h4 class="modal-title">Modal Content is Responsive</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group" hidden>
                <label for="department-id" class="control-label">Id:</label>
                <input type="text" class="form-control" id="department-id" />
              </div>
              <div class="form-group">
                <label for="department-name" class="control-label"
                  >Department Name:</label
                >
                <textarea class="form-control" id="department-name"></textarea>
              </div>
              <div class="form-group">
                <label for="department-region" class="control-label"
                  >Region:</label
                >
                <select
                  class="form-control"
                  id="department-region"
                  onfocus="getRegions()"
                ></select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default waves-effect"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger waves-effect waves-light"
              onclick="create()"
              id="department-submit"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->

    <!-- </div>
        </div> -->

    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(() => {
        $("#myTable").DataTable({
          ajax: {
            url: "/api/department/get-all",
            type: "GET",
            headers: {
              "x-token-department": "Abcdefgh",
            },
            dataSrc: "data",
            //dataSrc:"" -> kalo misal datanya itu masih belom make custom response
          },
          columnDefs: [
            {
              targets: [0],
              visible: false,
              searchable: false,
              orderable: false,
            },
            {
              targets: [3],
              searchable: false,
              orderable: false,
            },
          ],
          columns: [
            {
              data: "id",
            },
            {
              data: "name",
            },
            {
              data: "region.name",
            },
            {
              render: (data, type, full, meta) => {
                let html = "";
                html += `<a data-toggle="modal"
        data-target="#responsive-modal" onClick= "modalEdit(${full.id})"><i class="fa fa-pencil"></i> Edit</a> | <a onClick= "remove(${full.id})">
            <i class="fa fa-trash-o"></i> Delete</a>`;
                return html;
              },
            },
          ],
        });
      });
      // let getId = (id) => {
      //   console.log($(id).data("id"));
      // }
      let create = () => {
        let department = {
          id: $("#department-id").val(),
          name: $("#department-name").val(),
          region_id: $("#department-region").val(),
        };
        $.ajax({
          url: "/api/department/save",
          type: "POST",
          headers: {
            "x-token-department": "Abcdefgh",
          },
          contentType: "application/json",
          data: JSON.stringify(department),
        })
          .done((res) => {
            console.log(res);
            $("#myTable").DataTable().ajax.reload();
            $("#responsive-modal").modal("hide");
          })
          .fail((e) => {
            console.log(e);
          });
      };

      let edit = (id) => {
        let department = {
          id: id,
          name: $("#department-name").val(),
          region_id: $("#department-region").val(),
        };
        $.ajax({
          url: "/api/department/save",
          type: "POST",
          headers: {
            "x-token-department": "Abcdefgh",
          },
          contentType: "application/json",
          data: JSON.stringify(department),
        })
          .done((res) => {
            console.log(res);
            $("#myTable").DataTable().ajax.reload();
            $("#responsive-modal").modal("hide");
          })
          .fail((e) => {
            console.log(e);
          });
      };

      let remove = (id) => {
        $.ajax({
          url: `/api/department/delete/${id}`,
          type: "DELETE",
          headers: {
            "x-token-department": "Abcdefgh",
          },
          contentType: "application/json",
        })
          .done((res) => {
            console.log(res);
            $("#myTable").DataTable().ajax.reload();
          })
          .fail((e) => {
            console.log(e);
          });
      };

      let getRegions = () => {
        $.ajax({
          url: "/api/regions",
          type: "GET",
          headers: {
            "x-token-key": "Abcdefgh",
          },
          contentType: "application/json",
        })
          .done((res) => {
            console.log(res.data);
            let regions = res.data;
            let regionSelect = $("#department-region");
            regionSelect.empty();
            regionSelect.append(`<option value="">Select a region</option>`);

            regions.forEach((region) => {
              regionSelect.append(
                `<option value="${region.id}">${region.name}</option>`
              );
            });
          })
          .fail((e) => {
            console.error("Failed to fetch regions:", e);
          });
      };
      $("#responsive-modal").on("show.bs.modal", getRegions);

      let modalCreate = () => {
        $("#department-id").val("");
        $("#department-name").val("");
        $("#department-region").val("");
        $("#department-submit").attr("onclick", "create()");
      };

      let modalEdit = (id) => {
        $.ajax({
          url: `/api/department/get/${id}`,
          type: "GET",
          headers: {
            "x-token-department": "Abcdefgh",
          },
          contentType: "application/json",
        })
          .done((res) => {
            console.log(res);
            $("#department-id").val(res.data.id);
            $("#department-name").val(res.data.name);
            $("#department-region").val(res.data.region_id);
            $("#department-submit").attr("onclick", `edit(${id})`);
          })
          .fail((e) => {
            console.log(e);
          });
      };
    </script>
    <script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
  </body>
</html>
